@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-size: 15px;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  box-sizing: border-box;
}

.black-nav {
  display: flex;
  background: #917FB3;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #917FB3;
  cursor: pointer;
  color: #2A2F4F;
  padding: 20px;
}

.date {
  display: inline;
}
.right {
  margin-right: auto;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #2A2F4F;
  text-align: left;
}

.btn {
  border-radius: 10px;
  border: none;
  background-color: #917FB3;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #eee;
  font-size: 13px;
}
.btn:visited {
  color: #eee;
  background-color: tomato;
}

.btn:hover {
  background-color: #FDE2F3;
  color: #2A2F4F;
}